@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Outfit';
}

.app{
width: 100%;
height:100vh;
background:url(./assets/tom-barrett-hgGplX3PFBg-unsplash.jpg);
background-size: cover;
position: absolute;
}

.search{
  text-align: center;
  margin-top: 2rem;
}

.search input{
  border-radius: 25px;
  width:15rem;
  height: 2rem;
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem;
}

.name{
   margin-top: 5rem;
  margin-left: 1rem; 
   
   
   
}

.name p{
font-size: 2rem;
color: white;
}

.temperature{
  margin-left: 1rem;
}

.temperature p{
  font-size: 5rem;
  color: white;
  font-weight: bolder;
}
 
.bottom{
  background-color:rgba(0,0,0,0.5);
  width: 90%;
  margin: 15rem auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem;

  
}

.bottom p{
  color: white;
  text-align: center;
}


@media screen and (min-width: 450px) {
 
      .name{
        text-align: center;
      }
      .temperature{
        text-align:center;
      }
      .bottom{
        margin: 30rem auto;
      }

}